{% extends 'main/base.html' %}
{% load static %}

{% block title %}
О нас
{% endblock %}


{% block style %}
<link rel="stylesheet" href="{% static "main/css/aboutus.css" %}">
{% endblock %}

{% block content %}
<div class="mainBox justify-content-beetween col-xxl-6 col-xl-6 col-lg-7 col-md-8 col-sm-9 mx-auto">
    <div class="about-us row">
        <svg class="col-xl-2" width="100" height="100" viewBox="0 0 24 24">
            <path fill="none" stroke="#00ff0a" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M13.767 15.12A4.983 4.983 0 0 1 12 14a5 5 0 0 0-7 0V5a5 5 0 0 1 7 0a5 5 0 0 0 7 0v8.5M5 21v-7m10 5l2 2l4-4" />
        </svg>
        <p class="col-xl-10">Добро пожаловать на наш сайт о CTF! Мы - команда энтузиастов, цель которой - создать
            увлекательное и
            интерактивное пространство для любителей кибербезопасности. Наша платформа предназначена для тех, кто
            увлечен хакингом, криптографией, реверс-инжинирингом и другими аспектами информационной безопасности.</p>

    </div>
    <div class="wishes row">
        <svg class="col-xl-2" width="100" height="100" viewBox="0 0 24 24">
            <g fill="none" fill-rule="evenodd">
                <path
                    d="M24 0v24H0V0zM12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036c-.01-.003-.019 0-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z" />
                <path fill="#00ff0a"
                    d="M12 4a2 2 0 0 0-2 2h4a2 2 0 0 0-2-2M9.354 3c.705-.622 1.632-1 2.646-1s1.94.378 2.646 1H18a2 2 0 0 1 2 2v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zM8.126 5H6v15h12V5h-2.126c.082.32.126.655.126 1v1a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1V6c0-.345.044-.68.126-1M8 11a1 1 0 0 1 1-1h6a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1m0 4a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2H9a1 1 0 0 1-1-1" />
            </g>
        </svg>
        <p class="col-xl-10">Мы верим в обучение и развитие через практику. Наш сайт предлагает уникальные задания Capture The Flag (CTF),
            которые позволяют участникам испытать свои навыки в реальном времени, решая разнообразные задачи в области
            кибербезопасности. Независимо от вашего уровня опыта - от начинающего до опытного профессионала - у нас
            найдется что-то интересное и полезное для вас.</p>

    </div>
    <div class="target row">
        <svg class="col-xl-2" width="100" height="100" viewBox="0 0 24 24">
            <path fill="none" stroke="#00ff0a" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"
                d="M7 18v-1a5 5 0 0 1 5-5v0a5 5 0 0 1 5 5v1M1 18v-1a3 3 0 0 1 3-3v0m19 4v-1a3 3 0 0 0-3-3v0m-8-2a3 3 0 1 0 0-6a3 3 0 0 0 0 6m-8 2a2 2 0 1 0 0-4a2 2 0 0 0 0 4m16 0a2 2 0 1 0 0-4a2 2 0 0 0 0 4" />
            </svg>
        <p class="col-xl-10">Мы постоянно обновляем нашу платформу, добавляя новые таски и улучшая пользовательский опыт. Наша цель -
            создать сообщество, где люди могут обмениваться знаниями, учиться друг у друга и вместе расти в области
            кибербезопасности.</p>

    </div>
    <div class="join-us row">
        <svg class="col-xl-2" width="100" height="100" viewBox="0 0 24 24">
            <path fill="#00ff0a"
                d="M1.5 4v1.5c0 4.15 2.21 7.78 5.5 9.8V20h15v-2c0-2.66-5.33-4-8-4h-.25C9 14 5 10 5 5.5V4m9 0a4 4 0 0 0-4 4a4 4 0 0 0 4 4a4 4 0 0 0 4-4a4 4 0 0 0-4-4" />
            </svg>
        <p class="col-xl-10">Присоединяйтесь к нашему сообществу CTF уже сегодня и окунитесь в захватывающий мир информационной
            безопасности!</p>

    </div>
</div>
{% endblock %}